.cardProducto {
    background-color: #ffeaf487;
    width: 20rem;
    border: #fff solid;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProducto {
    width: 150px;
    object-fit: contain;
}


.btnProducto {
    background-color: #cc0e4f;
    color: white;
    font-size: 1.2rem;
    width: 8rem;
    border-end-start-radius: 10px;
    border: #200909c4 solid;
    cursor: pointer;
    text-decoration: none;
}
.contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    background: #000;
    justify-content: center;
}
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0rem;
    text-align: center;
}

