.navbar {
  background-color: #2b292995;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #565656;
  border-radius: 0.25rem;
}

.navbar-toggle-icon {
  background-color: #fff;
}

.navbar-collapse {
  justify-content: flex-end;
}

.cart-widget {
  color: #fff;
}
