.itemDetail {
  margin: 20px;
  padding: 20px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
}

.button {
    display: flex;
}

span.item-count {
    color: black;
    text-decoration: none;
}

.itemDetail__descripcion {
  margin-top: 40px;
}

.itemDetail__contador {
  display: flex; /* Cambio para alinear horizontalmente los botones */
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.itemDetail__cantidad {
  font-size: 18px;
  margin: 0 10px;
}

.itemDetail__button-container {
  display: flex; /* Cambio para alinear horizontalmente los botones */
  margin-top: 10px; /* Añadimos un margen entre los botones y la cantidad */
}

.itemDetail__button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
  outline: none;
  margin-right: 10px; /* Añadimos un margen entre los botones */
}

.itemDetail__button:last-child {
  background-color: #ff4081;
}

.itemDetail__button:last-child:hover {
  background-color: #ff79b0;
}

/* Media queries para dispositivos móviles y tablets */
@media (max-width: 768px) {
  .itemDetail__contador {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .itemDetail__cantidad {
    margin: 10px 0;
    font-size: 16px;
  }

  .itemDetail__button {
    margin: 5px 0;
    font-size: 14px;
  }
}
