.itemDetail {
  margin: 40px;
  padding: 25px;
  background-color: #222;
  color: #fff;
  border-radius: 10px;
}

.itemDetail__image {
  max-width: 100%; /* La imagen se ajustará al ancho máximo del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
}


.itemDetail__descripcion {
  margin-top: 40px;
}

.itemDetail__contador {
  display: flex;
  justify-content: center; /* Alinea los elementos horizontalmente */
  align-items: center;
  margin-top: 20px;
}

.itemDetail__cantidad {
  font-size: 18px;
  margin: 0 10px;
}

.itemDetail__button-container {
  display: flex; /* Cambio para alinear horizontalmente los botones */
  margin-top: 10px; /* Añadimos un margen entre los botones y la cantidad */
}

.itemDetail__button {
  padding: 12px 30px; /* Ajusta el padding para más espacio entre los botones */
  font-size: 16px;
  border: none;
  background-color: #ff4081; /* Usa el color rosa de la paleta de colores */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 3px; /* Aumenta el radio para crear un diseño más redondeado */
  outline: none;
  margin: 0 10px; /* Añade margen entre los botones */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra para un efecto más moderno */
}

.itemDetail__button:last-child {
  background-color: #000000; /* Usa el color azul de la paleta de colores */
}

.itemDetail__button:last-child:hover {
  background-color: #61244d; /* Un tono más oscuro para el hover */
}

/* Media queries para dispositivos móviles y tablets */
@media (max-width: 768px) {
  .itemDetail__contador {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .itemDetail__cantidad {
    margin: 10px 0;
    font-size: 16px;
  }

  .itemDetail__button {
    margin: 5px 0;
    font-size: 14px;
  }
}



/* Resto de los estilos del componente */





/* ItemDetail.css */



